Лабораторная 1
bad_perm.png
bad_time.png
fib_vs_str1_perm.png
fib_vs_str1_time.png
good_perm.png
good_res.png
grafics.py
grafics_2.py
log_fib_vs_str1_perm.png
log_fib_vs_str1_time.png
log_shel_str1_vs_str2.png
log_shel_str1_vs_str2_perm.png
perm_3.png
programm.cpp
self_time.png
shel_12_perm.png
shel_12_time.png
shel_1_perm.png
shel_1_time.png
stats.txt
strat2_vs_strat1_perm.png
strat2_vs_strat1_time.png
task_1.cpp
task_2.cpp
task_3.cpp
task_3_2.cpp
task_3_3.cpp
test.cpp
time_3.png
