Лабораторная 1
bad_perm.png
bad_time.png
fib_vs_str1_perm.png
fib_vs_str1_time.png
good_perm.png
good_res.png
grafics.py
grafics_2.py
log_fib_vs_str1_perm.png
log_fib_vs_str1_time.png
log_shel_str1_vs_str2.png
log_shel_str1_vs_str2_perm.png
perm_3.png
